.chat-box {
  display: grid;
  margin: auto;
  width: 560px;
  height: 450px;
  border: solid 1px black;
  background-color: skyblue;
  border-radius: 15px;
}

#messages {
  margin: auto;
  font-size: 30px;
}

#form {
  margin: auto;
}

#input {
  width: 400px;
  height: 30px;
  padding: 7px;
}

#drop {
  display: grid;
  margin: auto;
  /* align-items: center; */
}
