.chat-box {
  box-sizing: border-box;
  display: grid;
  margin: auto;
  /* width: 500px; */
  /* height: 450px; */
  border: solid 1px black;
  background-color: skyblue;
  border-radius: 15px;
}

#messages {
  margin: auto;
  font-size: 30px;
}

#form {
  margin: auto;
}

#input {
  box-sizing: border-box;
  width: 400px;
  height: 30px;
  padding: 7px;
  /* margin-bottom: 320px; */
}

#drop {
  display: grid;
  margin: auto;
  /* align-items: center; */
}
