.chat-box {
  box-sizing: border-box;
  display: grid;
  margin: auto;
  margin-right: 605px;
  width: 30%;
  height: 150px;
  border: solid 10px rgb(5, 44, 4);
  background-color: rgb(253, 194, 1);
  border-radius: 15px;
  margin-top: -125px;
}

#messages {
  margin: auto;
  font-size: 30px;
}

#form {
  margin: auto;
}

#input {
  box-sizing: border-box;
  width: 400px;
  height: 80px;
  padding: 7px;
}

#drop {
  display: grid;
  margin: auto;
}
