* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  background-color: green;
}

.main-view {
  margin: auto;
}

.players-panel {
  display: flex;
  justify-content: space-between;
}

.player-container {
  display: flex;
  justify-content: space-around;
}

.player {
  margin: auto;
  /* border: solid 1px red; */
}

.chat-game-section {
  display: flex;
}

.chatBox {
  background-color: skyblue;
}
