* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  background-color: green;
}

.main-view {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.player-chat-container {
  margin-left: 90px;
  display: grid;
}

.game-title {
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 50px;
  margin: auto;
  font-size: 70px;
  color: rgb(13, 16, 212);
  -webkit-text-stroke: 1px black;
}

.players-container {
  margin-bottom: 30px;
  width: 700px;
  height: 80%;
  display: flex;
}

.player {
  background-color: rgb(220, 227, 228);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid 2px rgb(0, 23, 128);
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

.player-name {
  font-size: 25px;
  font-weight: bold;
  margin: auto;
  padding: 3px;
  color: rgb(13, 16, 212);
}

#player1 {
  margin: auto;
  border-radius: 10px;
  width: 65%;
  height: 65%;
}

#player2 {
  margin: auto;
  border-radius: 10px;
  width: 65%;
  height: 65%;
}

.board-container {
  display: flex;
  box-sizing: border-box;
  margin-top: -50px;
  margin-right: 150px;
}
